# Set to True (1) or False (0) depending on whether debugging is enabled or not
DEBUG=1

# Paste your secret key generated for Django here
SECRET_KEY=your_secret_key_here

# Specify the allowed hosts for Django separated by spaces
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

# Database configuration
SQL_ENGINE=django.db.backends.postgresql
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_DB=database_name
POSTGRES_HOST=db
POSTGRES_PORT=5432
DATABASE=posgres